version: '3.8'

services:
  nextjs:
    build:
      context: .
      args:
        - NEXT_PUBLIC_BOT_URL=${NEXT_PUBLIC_BOT_URL}
        - NEXT_PUBLIC_RESTDB_API_KEY=${NEXT_PUBLIC_RESTDB_API_KEY}
    container_name: portfolio_nextjs
    restart: always
    env_file:
      - .env.production
    ports:
      - "3000:3000"
